:root {
  --neon-bright: #00e9d3;
  --neon-bright-darken-25: #006960;
  --neon-bright-lighten-15: #69fff1;
  --top-bar-color: rgb(29, 39, 46);
  // --sidebar-font-color:#006a60;
  --theme-bgcolor: #006a60;
  --public-sideBarBgColor: #0e2630;
  --sidebar-font-color: #fff;
  --text-color-base: #fff;
  --text-color: #fff;
  --text-color-focus: #00e9d3;
  --theme-textcolor: #fff;
  --theme-textcolor-focus: #00e9d3;
  --link-color-hover: #00e9d3;
  --bg-color-base: #c0ced6;
  --error-color: #d9534f;
  --link-color: #ffffff;
  --body-bg: #F9FDFF;
  --body-bg-darken: #e9f7ff;
  --input-bg: #10222a;
  --input-bg-daylight: #fff;
  --table-text-color: #006a60;
  --table-header-bg: #EEF2F4;
  --table-header-bg-darken-15: #c2d0d7;
  --table-header-bg-darken-25: #a4bac4;
  --table-header-bg-darken-20: #b3c5ce;
  --widget-text-color: #006a60;
}
