:root {
  --body-bg: #212d34;
  --ui-chkbox-box-border: #0275d8;
  --sideBarBgColor: #192227;
  --neon-bright: #00e9d3;
  --neon-bright-darken-25: #006960;
  --neon-bright-lighten-15: #69fff1;
  --top-bar-color: rgb(29, 39, 46);
  --public-sideBarBgColor: #0e2630;
  --sidebar-font-color: #fff;
  --text-color-base: #fff;
  --link-color-hover:#00e9d3;
  //Override css manually
  --bg-color-base: #00e9d3;
  --error-color: #d9534f;

  --theme-bgcolor:#192227;
  
  --input-bg: #10222a;
  --text-color: #fff;
  --link-color: #5885a7;
  
  --link-color-scss:#5885a7;

  --table-text-color:#00e9d3;
  --table-header-bg: #EEF2F4;
  --table-header-bg-darken-15: #c2d0d7;
  --table-header-bg-darken-25: #a4bac4;
  --table-header-bg-darken-20: #b3c5ce;
}
