<div class="row col-lg-12 vert-offset-top-1">
    <div class="col-lg-4" *ngIf="reportinggroup1Active && reportinggroup1description">
        <label class="col-lg-4 col-sm-4">{{reportinggroup1DisplayName}}</label>
        <label class="col-lg-6 col-sm-4">{{reportinggroup1description}}</label>
    </div>
    <div class="col-lg-4" *ngIf="reportinggroup2Active && reportinggroup2description">
        <label class="col-lg-4 col-sm-4">{{reportinggroup2DisplayName}}</label>
        <label class="col-lg-6 col-sm-4">{{reportinggroup2description}}</label>
    </div>
    <div class="col-lg-4" *ngIf="reportinggroup3Active && reportinggroup3description">
        <label class="col-lg-4 col-sm-4">{{reportinggroup3DisplayName}}</label>
        <label class="col-lg-6 col-sm-4">{{reportinggroup3description}}</label>
    </div>
    <div class="col-lg-4" *ngIf="reportinggroup4Active && reportinggroup4description">
        <label class="col-lg-4 col-sm-4">{{reportinggroup4DisplayName}}</label>
        <label class="col-lg-6 col-sm-4">{{reportinggroup4description}}</label>
    </div>
    <div class="col-lg-4" *ngIf="reportinggroup5Active && reportinggroup5description">
        <label class="col-lg-4 col-sm-4">{{reportinggroup5DisplayName}}</label>
        <label class="col-lg-6 col-sm-4">{{reportinggroup5description}}</label>
    </div>
    <div class="col-lg-4" *ngIf="reportinggroup6Active && reportinggroup6description">
        <label class="col-lg-4 col-sm-4">{{reportinggroup6DisplayName}}</label>
        <label class="col-lg-6 col-sm-4">{{reportinggroup6description}}</label>
    </div>
</div>