<div class="col-lg-12 no-padding" *ngIf="myForm">
    <div class="error col-lg-10  no-padding" *ngIf="errormsg != ''"> {{ errormsg }}</div>
    <div class="success col-lg-10  no-padding" *ngIf="setPasswordMessage != ''">{{ setPasswordMessage }}</div>
</div>
<div class="col-lg-12 no-padding" *ngIf="myForm">

    <form class="" id="form" name="form" [formGroup]="myForm"
        (ngSubmit)="myForm.valid && changepassword()">
        <div formGroupName="passwords" class="col-lg-10  no-padding">
            <div class="form-group">
                <label>Current Password:</label>
                <div>

                    <input type="password" class="form-control" formControlName="currentpassword" autofocus />

                    <div *ngIf="myForm.get('passwords').get('currentpassword').touched || myForm.touched">
                        <div class="error" *ngIf="myForm.get('passwords').get('currentpassword').hasError('required')">
                            Current Password is required
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>New Password:</label>
                <div>

                    <input type="password" class="form-control" formControlName="newpassword" autofocus />

                    <div *ngIf="myForm.get('passwords').get('newpassword').touched || myForm.touched">
                        <div class="error" *ngIf="myForm.get('passwords').get('newpassword').hasError('required')">
                            New Password is required
                        </div>
                        <!-- <div class="error" *ngIf="myForm.get('passwords').get('newpassword').hasError('minlength')">
                            Password should be minimum of 8 characters
                        </div> -->
                        <div class="error" *ngIf="myForm.get('passwords').get('newpassword').hasError('maxlength')">
                            Password should be maximum of 50 characters
                        </div>
                        <div class="error"
                            *ngIf="!myForm.get('passwords').get('newpassword').hasError('required') && !myForm.get('passwords').get('newpassword').hasError('minlength') && !myForm.get('passwords').get('newpassword').hasError('maxlength') && myForm.get('passwords').get('newpassword').hasError('passwordValid')">
                            <!-- Password should contain 1 uppercase letter and 1 number -->
                            {{passwordMessage}}
                        </div>
                    </div>

                </div>


            </div>
            <div class="form-group">

                <label for="confirmpassword">Re-enter New Password</label>
                <input type="password" class="form-control" formControlName="confirmpassword" />
                <div *ngIf="myForm.get('passwords').get('confirmpassword').touched || myForm.touched">
                    <div class="error" *ngIf="myForm.get('passwords').get('confirmpassword').hasError('required')">
                        Re-enter New Password is required
                    </div>
                    <div class="error"
                        *ngIf="!myForm.get('passwords').get('confirmpassword').hasError('required') && myForm.get('passwords').hasError('mismatchedPasswords')">
                        Password should be same as new password
                    </div>
                </div>
            </div>
            <div class="form-group">
                <!--<button [disabled]="loading"  class="btn btn-primary">Save</button>-->
                <input type="submit" [disabled]="loading" value="Save" class="btn btn-primary" />
            </div>
        </div>


    </form>
</div>