<div *ngIf="error" class="center-box col-lg-8 alert alert-danger" role="alert">
    <h4 class="alert-heading"> {{error}}</h4>
</div>

<div class="col-lg-12" *ngIf="showButton && !error">
    <form name="form" (ngSubmit)="f.form.valid && save(f)" #f="ngForm" novalidate>
        <input type="hidden" class="form-control" name="userAgreementGuid" [(ngModel)]="model.userAgreementGuid" #companyguid="ngModel" required />
        <div class="form-group row">
            <div class="col-lg-2"></div>
            <div class="col-lg-9">
                <p>Please read the following Agreement carefully. By clicking on the ‘Accept Agreement’ button <br /> (i) you confirm that you have the Customer’s authority to enter into the Agreement on the Customer’s behalf, and <br /> (ii) the Customer accepts and agrees to be bound by all terms and conditions of the Agreement.</p>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">               
                <div id="pdf-viewer">
                    <iframe name="CommsManager Lite Customer Agreement" src="/documents/CommsManagerAgreementV2/"  (load)="onIFrameLoad();" frameborder='0' scrolling="no">
                        
                    </iframe>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-lg-2"></div>
            <div class="col-lg-9">
                <label><p-checkbox name="chkConfirm" [(ngModel)]="chkConfirm" binary="true"></p-checkbox> I Accept the Customer Agreement.</label>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-lg-2"></div>
            <div class="col-lg-9">
                <button [disabled]="!chkConfirm" type="submit" class="btn btn-primary">Accept Agreement</button>
            </div>
        </div>
    </form>
</div>
