<div class="login-container col-sm-12" >
    <label>{{userName}}</label>
    <p class="error">
        {{ setPasswordMessage }}
    </p>
    <div *ngIf="successStatus">
        <button (click)="redirectToLogin()" class="btn btn-primary">Login</button>
    </div>


    <form name="form" [formGroup]="myForm" *ngIf="!successStatus" (ngSubmit)="myForm.valid && setPassword()" novalidate>
        <input type="hidden" readonly="readonly" formControlName="resetGuid" />

        <div formGroupName="passwords">
            <div class="form-group">
                <label for="password">Password:</label>
                <div>
                    <!--<input type="text" class="form-control" formControlName="password" name="password" [(ngModel)]="model.password" #password="ngModel" required maxlength="75" />-->
                    <input type="password" name="password" class="form-control" formControlName="password" />
                    <div *ngIf="myForm.get('passwords').get('password').touched">
                        <div class="error" *ngIf="myForm.get('passwords').get('password').hasError('required')">
                            Password is required
                        </div>
                        <!-- <div class="error" *ngIf="myForm.get('passwords').get('password').hasError('minlength')">
                            Password should be minimum of 8 characters
                        </div> -->
                        <div class="error" *ngIf="myForm.get('passwords').get('password').hasError('maxlength')">
                            Password should be maximum of 100 characters
                        </div>
                        <div class="error"
                            *ngIf="!myForm.get('passwords').get('password').hasError('required') && !myForm.get('passwords').get('password').hasError('minlength') && !myForm.get('passwords').get('password').hasError('maxlength') && myForm.get('passwords').get('password').hasError('passwordValid')">
                            {{passwordMessage}}
                        </div>
                    </div>

                </div>


            </div>
            <div class="form-group">

                <label for="confirmPassword">Confirm Password</label>
                <input type="password" name="confirmPassword" class="form-control" formControlName="confirmPassword" />
                <div *ngIf="myForm.get('passwords').get('confirmPassword').touched">
                    <div class="error" *ngIf="myForm.get('passwords').get('confirmPassword').hasError('required')">
                        Confirm Password is required
                    </div>
                    <div class="error"
                        *ngIf="!myForm.get('passwords').get('confirmPassword').hasError('required') && myForm.get('passwords').hasError('mismatchedPasswords')">
                        Confrim Password should be same as password
                    </div>
                </div>
                <!-- <div *ngIf="setPasswordMessage  != ''">{{ setPasswordMessage }}</div> -->
            </div>
        </div>
        <div class="form-group">
            <button [disabled]="!validRequest || loading" type="submit" class="btn btn-primary">Set Password</button>

        </div>

    </form>

</div>